{% extends 'base.html.twig' %}

{% block title %}CG SYMFONY APP{% endblock %}

{% block body %}
<div class="container-fluid d-flex flex-row ">
    <div class="w-100 px-2 m-4">
        {% include 'products/index.html.twig' %}
    </div>
    <div class="w-100 px-2 m-4">
        {% include 'orders/index.html.twig' %}
    </div>
</div>

<div class="container">
    <h1 class="my-4">Most Sold Products</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Sold Amount</th>
                <th>Sold Sum</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.productName }}</td>
                <td>{{ report.amount }}</td>
                <td>{{ report.total }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br/>
<br/>
<div class="m-4">
    <h5>Test API</h5>
    <br/>
    <button class="btn btn-info" type="button" onclick="getApiProducts()">Api List of Products </button>
    <button class="btn btn-info" type="button" onclick="getApiOrders()">Api Most Sold Products </button>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead></thead>
        <tbody id="listBody">
        </tbody>
    </table>

</div>

<script>

function getApiProducts(){
    fetch('http://{{ host }}/api/products')
    .then(response => response.json())
    .then(data => {printData(data,'listBody');})
    .catch(error => console.error(error));
}

function getApiOrders(){
    fetch('http://{{ host }}/api/orders')
    .then(response => response.json())
    .then(data => {printData(data,'listBody');})
    .catch(error => console.error(error));
}

function printData(data, elementId){
    let output = '';
    if(!data) return;
    Object.keys(data[0]).forEach(prop => { output += ` <th>${prop}</th>`; })
    data.forEach(obj => {
        output += "<tr>"
        for (const property in obj) {
            output += ` <td>${obj[property]}</td>`;
        }
        output += "</tr>"
    });
    document.getElementById(elementId).innerHTML = output;

}
</script>

{% endblock %}
